<div class="switch box  col-md-12  bottom ">
<ul class="menu">

  <li title="home" class="col-xs-3  col-sm-2  col-md-1 text-align menu_item"> <a href="#" [routerLink]="['/home']" routerLinkActive="active">Home </a> </li>
  <li class="col-xs-3  col-sm-2  col-md-1 text-align menu_item ">
   <a href="#" [routerLink]="['/Featured']">Featured</a>
  </li>
 <li class="col-xs-3  col-sm-2  col-md-1 text-align menu_item ">
   <a href="#" [routerLink]="['/BollyWood']">BollyWood</a>
 </li>
 
 <li class="col-xs-3  col-sm-2  col-md-1 text-align menu_item">

  <a href="#"[routerLink]="['/Tamil']">Tamil</a>

 </li>
 <li class="col-xs-3  col-sm-2  col-md-1 text-align menu_item ">

  <a href="#" [routerLink]="['/Telugu']">Telugu</a>

 </li>
 <li class="col-xs-3  col-sm-2  col-md-1 text-align menu_item ">

  <a href="#" [routerLink]="['/Malayalam']" routerLinkActive="active">Malayalam</a>

 </li>
 <li class="col-xs-3  col-sm-2  col-md-1 text-align  menu_item">

  <a href="#" [routerLink]="['/Punjabi']">Punjabi</a>

 </li>
  
 <li class="col-xs-3  col-sm-2  col-md-1 text-align  menu_item">

  <a href="#" [routerLink]="['/Bigboss']">BigBoss</a>

 </li>
 <li class="col-xs-3  col-sm-2  col-md-1 text-align menu_item">

  <a href="#" [routerLink]="['/Sports']" routerLinkActive="active">Sports</a>

 </li>
 <li class="col-xs-3  col-sm-2  col-md-1 text-align menu_item">

  <a href="#" [routerLink]="['/Other']" routerLinkActive="active">other</a>

 </li>
</ul>
</div>

