<div class="switch box col-md-12 bottom">
<ul class="menu" >

  <li title="home" class="menu_item"> <a href="#" [routerLink]="['/home']">Home</a> </li>
  <li class="menu_item">
   <a href="#" [routerLink]="['/Featured']">Featured</a>
  </li>
 <li class="menu_item">
   <a href="#" [routerLink]="['/BollyWood']">BollyWood</a>

  <ul>

    <li ><a title="Hollywood Movie 2017" href="http://www.movierulz.sx/category/hollywood-movie-2017/">Hollywood Movie 2017</a></li>
    <li ><a title="Hollywood Movie 2016" href="http://www.movierulz.sx/category/hollywood-movie-2016/">Hollywood Movie 2016</a></li>
    <li ><a title="Hollywood Movie 2015" href="http://www.movierulz.sx/category/hollywood-movie-2015/">Hollywood Movie 2015</a></li>
  </ul>
 </li>
 <li class="menu_item">

  <a href="#" [routerLink]="['/HollyWood']">HollyWood</a>

 </li>
 <li class="menu_item">

  <a href="#"[routerLink]="['/Tamil']">Tamil</a>

 </li>
 <li class="menu_item">

  <a href="#" [routerLink]="['/Telugu']">Telugu</a>

 </li>
 <li class="menu_item">

  <a href="#" [routerLink]="['/Malayalam']">Malayalam</a>

 </li>
 <li class="menu_item">

  <a href="#" [routerLink]="['/other']">other</a>

 </li>
  <li class="menu_item">

  <a href="#" [routerLink]="['/Geners']">Geners</a>

 </li>

 <li class="menu_item">

  <a href="#" [routerLink]="['/Dvdrip']">Dvdrip</a>

 </li>

</ul>




</div>
<router-outlet></router-outlet>
