<div class="switch box  col-md-12  bottom nopadding">
<ul class="menu">

  <li title="home" class="col-xs-12 col-md-1 text-align menu_item"> <a href="#" [routerLink]="['/home']" routerLinkActive="active">Home </a> </li>
  <li class="col-xs-12 col-md-1 text-align menu_item nopadding">
   <a href="#" [routerLink]="['/Featured']">Featured</a>
  </li>
 <li class="col-xs-12 col-md-1 text-align menu_item nopadding">
   <a href="#" [routerLink]="['/BollyWood']">BollyWood</a>
 </li>
 
 <li class="col-xs-12 col-md-1 text-align menu_item">

  <a href="#"[routerLink]="['/Tamil']">Tamil</a>

 </li>
 <li class="col-xs-12 col-md-1 text-align menu_item nopadding">

  <a href="#" [routerLink]="['/Telugu']">Telugu</a>

 </li>
 <li class="col-xs-12 col-md-1 text-align menu_item nopadding">

  <a href="#" [routerLink]="['/Malayalam']" routerLinkActive="active">Malayalam</a>

 </li>
 
  <li class="col-xs-12 col-md-1 text-align menu_item">

  <a href="#" [routerLink]="['/Geners']">Geners</a>

 </li>

 <li class="col-xs-12  col-md-1 text-align menu_item">

  <a href="#" [routerLink]="['/Ddvdrip']">Dvdrip</a>

 </li>
 <li class="col-xs-12 col-md-1 text-align  menu_item">

  <a href="#" [routerLink]="['/bigboss']">BigBoss</a>

 </li>
 <li class="col-xs-12 col-md-1 text-align menu_item">

  <a href="#" [routerLink]="['/sports']" routerLinkActive="active">Sports</a>

 </li>
 <li class="col-xs-12 col-md-1 text-align menu_item">

  <a href="#" [routerLink]="['/other']" routerLinkActive="active">other</a>

 </li>
</ul>
</div>

