
<div *ngIf="toggle" class="boxed">

  <div class="title_selectedmovie">
    <h2 class="entry_title">{{item.movieName}} HDRip Full Movie Watch Online Free</h2>
 </div>
  <hr/>

          <div class="title" >
            <strong class="color">
              <img *ngIf="item.movieImageURL" class="img" src='{{item.movieImageURL}}'>
              <img *ngIf="!item.movieImageURL" class="img" src='{{posterNotAvailable}}'>
            </strong>
          </div>
          
          <div class="entry_title" innerHTML="{{item.movieDescription}}"></div>


  <div class="top">
     <div *ngFor="let video of videos">

       <p class="title_movie"> Watch Online at {{video.name}}</p>
       <a class="path" target="_blank" href="{{video.link}}">{{item.movieName}} Telugu  Movie Watch Online Free *Rip File* </a>
     </div>
  </div>
</div>
