<<<<<<< HEAD
table {
=======
able {
>>>>>>> 4905c41a78b1d280538580d1578c34be329c50ea
  border-collapse: collapse;
  margin:auto;
  width:50%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}
.align{
text-align: center;
}
body{

font-family: Trebuchet, arial, sans-serif;
background: #202228;
}
.container{
margin: auto;
width: 100%
}
.contain{
     zoom: 1;
}
.nopadding{
padding: 0;
}