.bottom{
  bottom:20px;
}
.search{
    box-shadow: 0.2em 0.2em 0.3em rgba( 0, 0, 0, 0.45 );
    background: -webkit-linear-gradient( top, #272727 1%, #070707 100% );    
    color: white ;
}
.search-input{
  width:300px;
  height: 35px;
}