<div *ngIf="!toggle" class="boxed">
  <h2 class="featured faded ">{{title}} </h2>
<ul>
 <li *ngFor="let movie of (movieList | search:userSearch)" class="col-md-3">

 <div class="">

        <div  class="title"><a href="#" [routerLink]="[movie.title]" (click)="changeView(movie)"><strong class="color"><img class="img" src='https://image.tmdb.org/t/p/w600/{{movie.poster_path}}'></strong></a></div>
        <div class="text">  {{movie.title }} ({{movie.release_date }})</div>
 </div>

 </li>
</ul>
 <div class="faded">
  <a href="#">old Entries</a>
 </div>
</div>
